version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: botgotic-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - botnet
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  bot:
    build: .
    container_name: botgotic-bot
    env_file:
      - .env
    environment:
      - REDIS_ADDR=redis:6379
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - botnet
    # Для Windows добавьте:
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  botnet:
    driver: bridge

volumes:
  redis_data:
