version: "3.9"
services:
  api:
    build: .
    container_name: api
    ports:
      - "3415:3415"

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - api
